
input[type=text],
input[type=number],
input[type=text],
input[type=radio],
input[type=password]{
	box-sizing: border-box;
	width: 120px;
	font-size: 32px;
	padding: 5px;
	border: 2px solid #6e6d63;
	color:#93c748;	
	background-color: #1c2222;	
}

input[type=submit]{
	box-sizing: border-box;
	font-size: 32px;
	padding: 5px;
	border: 2px solid #6e6d63;
	color:#93c748;	
	background-color: #1c2222;
}
select{
	box-sizing: border-box;
	height: 50px;
	font-size: 32px;
	padding: 5px;
	border: 2px solid #6e6d63;
	color:#93c748;	
	background-color: #1c2222;
}

/* Customize the label (the cbox) */
.cboxa {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cboxa input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  margin-top: 9px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cboxa:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cboxa input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cboxa input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cboxa .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* checkbox */
/* Customize the label (the container) */
.contai {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.contai input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkradio {
  position: absolute;
  margin-top: 9px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.contai:hover input ~ .checkradio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.contai input:checked ~ .checkradio {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.contai input:checked ~ .checkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.contai .checkradio:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}